*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:hover{
	cursor:pointer;
}

.btn-nuevoDesafio{
  bottom:10%;
  right:10%;
  position: fixed;
  border-radius: 50%;
  width: 18%;
  height: 15%;
  background-color: #387ef5; 
}