*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:hover{
	cursor:pointer;
}

.btn-nuevoDesafio{
  bottom:10%;
  right:10%;
  position: fixed;
  border-radius: 50%;
  width: 18%;
  height: 15%;
  background-color: #387ef5; 
}

/*Contenedores de error o correcto.*/
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}