<ion-view view-title="Desafío: {{desafio.titulo}}">
  <ion-content style="background-color:#A4A4A4">
  	<div class="list" >
		<label class="item item-input item-stacked-label">
			<span class="input-label" style="color:#000000">Descripción</span>
			<p style="color:#FFFFFF">{{desafio.descripcion}}</p>
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label" style="color:#000000">Apuesta</span>
			<span style="color:#FFFFFF">{{desafio.apuesta}}</span>
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label" style="color:#000000">Finaliza en:<span style="font-size:10px; color:#000000">(hs)</span></span>
			<span style="color:#FFFFFF">{{desafio.vencimiento}}</span>
		</label>
		<label class="item item-input item-stacked-label" style="color:#FFFFFF">
			<span class="input-label" style="color:#000000">Creador:</span>
			<span style="color:#FFFFFF">{{desafio.usuarioCreador.nombre}}</span>
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label" style="color:#000000">Desafiante:</span>
			<span style="color:#FFFFFF" ng-if="desafio.usuarioAcepta.nombre != 'false'">{{desafio.usuarioAcepta.nombre}}</span>
		</label>
		<div class="padding">
			<div class="button-bar">
				<button class="button button-balanced sombra" style="margin-right:2%" ng-click="Aceptar()" ng-if="(!desafio.aceptada) && (usuario.nombre != desafio.usuarioCreador.nombre) && (desafio.pagina == 'salaDesafios')">Aceptar</button>
				<button class="button button-assertive sombra" style="margin-left:2%" ng-click="Volver()">Volver</button>
			</div>
		</div>
		<div class="overlay" ng-if="mensaje.ver">
			<div class="overlayContent">
				<span class="input-label" style="width:100%">{{mensaje.mensaje}}</span>
			</div>
		<div>
	</div>
  </ion-content>
</ion-view>
