<ion-view view-title="Desafío: {{desafio.titulo}}">
  <ion-content>
  	<div class="list">
		<label class="item item-input item-stacked-label">
			<span class="input-label">Descripción</span>
			<p>{{desafio.descripcion}}</p>
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Apuesta</span>
			<span >{{desafio.apuesta}}</span>
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Finaliza en:<span style="font-size:10px">(hs)</span></span>
			<span>{{desafio.vencimiento}}</span>
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Creador:</span>
			<span>{{desafio.usuarioCreador.nombre}}</span>
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Desafiante:</span>
			<span ng-if="desafio.usuarioAcepta.nombre != 'false'">{{desafio.usuarioAcepta.nombre}}</span>
		</label>
		<div class="padding">
			<span class="input-label">Ganador:</span>
			<div class="button-bar">
				<button class="button button-balanced" style="margin-right:2%" ng-click="Aceptar({desafio.usuarioAcepta.nombre}})" ng-if="(!desafio.finalizada)">{desafio.usuarioAcepta.nombre}}</button>
				<button class="button button-balanced" style="margin-right:2%" ng-click="Aceptar({{desafio.usuarioCreador.nombre}})" ng-if="(!desafio.finalizada)">{{desafio.usuarioCreador.nombre}}</button>
			</div>
			<div class="button-bar">
				<button class="button button-balanced" style="margin-right:2%" ng-click="Aceptar(empate)" ng-if="(!desafio.finalizada)">Empate</button>
				<button class="button button-full button-assertive" style="margin-left:2%" ng-click="Volver()">Volver</button>
			</div>

		</div>
		<div class="padding" ng-if="mensaje.ver">
			<span class="input-label" style="width:100%">{{mensaje.mensaje}}</span>
		</div>
	</div>
  </ion-content>
</ion-view>
