<ion-view view-title="Nuevo Desafío">
  <ion-content style="background-color:#A4A4A4">
  	<div class="list" style="background-color:#A4A4A4; color: #FFFFFF">
  		<label class="item item-input item-stacked-label" style="background-color:#7B7B7B">
		    <span class="input-label" style="color:#FFFFFF;">Título</span>
   		</label>
	  	<label class="item item-input item-stacked-label">
	    	<input type="text" style="width: 195%; background-color:#A4A4A4; color:#FFFFFF; border-bottom: 1px solid #FFFFFF" ng-model="desafio.titulo" maxlength="25">
	  	</label>
	  	<label class="item item-input item-stacked-label" style="background-color:#7B7B7B">
		    <span class="input-label" style="color:#FFFFFF;">Descripción</span>
   		</label>
	  	<label class="item item-input item-stacked-label">
		    <textarea style="width: 95%; background-color:#A4A4A4; color:#FFFFFF; border-bottom: 1px solid #FFFFFF" ng-model="desafio.descripcion"></textarea>
	  	</label>
	  	<label class="item item-input item-stacked-label" style="background-color:#7B7B7B">
		    <span class="input-label" style="color:#FFFFFF;">Apuesta</span>
		    <span style="color:#FFFFFF;">{{desafio.apuesta}}</span>
   		</label>
		<div class="item range range-positive" style="background-color:#A4A4A4">
		    <span style="color:#FFFFFF;">1</span>
		    <input type="range" name="apuesta" min="1" max="20" ng-model="desafio.apuesta">
		    <span style="color:#FFFFFF;">20</span>
		</div>
	  	<label class="item item-input item-stacked-label" style="background-color:#7B7B7B">
		    <span class="input-label" style="color:#FFFFFF;">Finaliza en:<span style="font-size:10px">(hs)</span></span>
		    <span style="color:#FFFFFF;">{{desafio.vencimiento}}</span>
	  	</label>
		<div class="item range range-positive" style="background-color:#A4A4A4">
			<span style="color:#FFFFFF;">1</span>
			<input type="range" name="vencimiento" min="1" max="24" ng-model="desafio.vencimiento">
			<span style="color:#FFFFFF;">24</span>
		</div>
	  <div class="padding">
	  	<button class="button button-block botones" ng-click="Guardar()">Generar</button>
	  </div>
	  <div class="overlay" ng-if="mensaje.ver">
		<div class="overlayContent">
			<span class="input-label" style="width:100%">{{mensaje.mensaje}}</span>
		</div>
	  <div>
	</div>
  </ion-content>
</ion-view>
