<ion-view view-title="Nuevo Desafío">
  <ion-content>
  	<div class="list">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Título</span>
	    <input type="text" ng-model="desafio.titulo" maxlength="25">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Descripción</span>
	    <textarea ng-model="desafio.descripcion"></textarea>
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Apuesta</span>
	    <input type="number" ng-model="desafio.apuesta">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Finaliza en:<span style="font-size:10px">(hs)</span></span>
	    <input type="number" ng-model="desafio.vencimiento">
	  </label>
	  <div class="padding">
	  	<button class="button button-block button-positive" ng-click="Guardar()">Generar</button>
	  </div>
	</div>
  </ion-content>
</ion-view>
