<ion-view view-title="Login">
  <ion-content>
    <form>
      <div class="list" ng-if="logueado == 'no'">
        <label class="item item-input">
          <span class="input-label">Correo</span>
          <input type="text" ng-model="login.usuario">
        </label>
        <label class="item item-input">
          <span class="input-label">Contraseña</span>
          <input type="password" ng-model="login.clave">
        </label>
        <div class="padding">
          <button class="button button-block button-positive" ng-click="Logear()" >Ingresar</button>
          <p class="text-center text-muted">
            <small><a ng-click="Resetear()">Olvide mi contraseña</a></small>
          </p>
          <p class="text-center text-muted">
            <small>No tienes una cuenta? <a ui-sref="registro">Registrate</a></small>
          </p>
        </div>
        <div class="padding">
          <div class="{{mensajeLogin.estilo}}" ng-if="mensajeLogin.ver" style="text-align:center">
            <span class="input-label" style="font-size: 16px; width: 100%; max-width: 100%;">{{mensajeLogin.mensaje}}</span>
          </div>
        </div>
      </div>
      <div class="list" ng-if="logueado == 'si'">
        <div class="padding">
          <div class="alert-success" ng-if="verificado == 'no' && !cartelVerificar">
            <p style="font-size: 16px;">Todavía no has verificado tu cuenta, <br><small><a ng-click="VerificarMail()">haz click aqui</a></small> para recibir el mail.</p>
          </div>
          <div class="alert-success" ng-if="verificado == 'no' && cartelVerificar">
            <p style="font-size: 16px;">Email enviado.</p>
          </div>
          <button class="button button-block button-positive" ng-click="Deslogear()" >Salir</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>