<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left" >
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" style="background-color:#419D5F">
    <ion-header-bar style="background-color:#419D5F">
      <h1 class="title">Menú</h1>
    </ion-header-bar>
    <ion-content style="background-color:#A4A4A4">
      <ul class="list">
          <a menu-close class="item" style="width: 100%; background-color:#7B7B7B; border-bottom: 1px solid #FFFFFF;text-decoration: none;color: #FFFFFF" href="#/app/salaDesafios">
            Sala de Desafíos
          </a>
          <a menu-close class="item" style="width: 100%; background-color:#7B7B7B; border-bottom: 1px solid #FFFFFF;text-decoration: none;color: #FFFFFF" href="#/app/misDesafios">
            Mis Desafíos
          </a>
          <a menu-close class="item" style="width: 100%; background-color:#7B7B7B; border-bottom: 1px solid #FFFFFF;text-decoration: none;color: #FFFFFF" href="#/app/perfil">
            {{usuario.nombre}}
          </a>
          <a menu-close class="item" style="width: 100%; background-color:#7B7B7B; border-bottom: 1px solid #FFFFFF;text-decoration: none;color: #FFFFFF" href="#/app/verificarDesafios" ng-if="usuario.perfil == 'admin'">
          Verificar
          </a>
          <a menu-close class="item" style="width: 100%; background-color:#7B7B7B; border-bottom: 1px solid #FFFFFF;text-decoration: none;color: #FFFFFF" href="#/app/listaUsuarios" ng-if="usuario.perfil == 'admin'">
          Usuarios
          </a>
          <a menu-close class="item" style="width: 100%; background-color:#7B7B7B; border-bottom: 1px solid #FFFFFF;text-decoration: none;color: #FFFFFF" href="#/login">
            Salir
          </a>
        </li>
      </ul>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
