<ion-view view-title="Perfil: {{usuario.nombre}}" >
  <ion-content style="background-color:#A4A4A4; color:#FFFFFF">
    <div class="list">
      <div class="card sombra" >
        <div class="item item-divider" style="background-color:#7B7B7B">
          Saldo: 
        </div>
        <div class="item item-text-wrap">
          {{usuario.saldo}}
        </div>
        <div class="item item-divider" style="background-color:#7B7B7B">
          Correo:
        </div>
        <div class="item item-text-wrap" >
          {{usuario.correo}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
