<ion-view view-title="Registro">
  <ion-header-bar style="background-color:#419D5F" >
    <button class="button button-icon icon ion-reply" style="color:#000000" ng-click="Volver()"></button>
    <h3 style="width:100%; text-align:center; color:#000000; margin-top:0px">Registro en Desafios</h3>
  </ion-header-bar>
  <ion-content style="background-color:#A4A4A4">
    <div ng-if="logueado == 'no'">
      <div class="list" style="background-color:#A4A4A4; color: #FFFFFF">
        <div class="card sombra">
          <div class="item item-divider" style="background-color:#419D5F; color:#FFFFFF">
            <i class="icon ion-person" style="margin-right: 1%"></i>Nombre
          </div>
          <div class="item item-text-wrap">
            <input type="text" style="width: 100%; border-bottom: 1px solid #419D5F" ng-model="login.nombre">
          </div>
        </div>
        <div class="card sombra">
          <div class="item item-divider" style="background-color:#419D5F; color:#FFFFFF">
            <i class="icon ion-at" style="margin-right: 1%"></i>Correo
          </div>
          <div class="item item-text-wrap">
            <input type="text" style="width: 100%; border-bottom: 1px solid #419D5F" ng-model="login.usuario">
          </div>
        </div>
        <div class="card sombra">
          <div class="item item-divider" style="background-color:#419D5F; color:#FFFFFF">
            <i class="icon ion-key" style="margin-right: 1%"></i>Clave
          </div>
          <div class="item item-text-wrap">
            <input type="password" style="width: 100%; border-bottom: 1px solid #419D5F" ng-model="login.clave">
          </div>
        </div>
      </div>
      <div class="padding" style="margin-top:-10%">
        <button class="button button-block botones sombra" ng-click="Registrar()" >Registrame</button>
      </div>
    </div>
    <div class="list" ng-if="logueado == 'si'">
        <div class="padding">
          <div  ng-if="verificado == 'no' && !cartelVerificar">
            <p style="font-size: 20px; color:#FFFFFF">Todavía no has verificado tu cuenta, <br><small><a ng-click="VerificarMail()" style="font-size: 25px; color:#000000">haz click aqui</a></small> para recibir el mail.</p>
          </div>
          <div class="alert-success" ng-if="verificado == 'no' && cartelVerificar">
            <p style="font-size: 16px;">Email enviado.</p>
          </div>
        </div>
      </div>
    <div class="padding">
      <div class="alert-danger" ng-if="mensajeLogin.ver" style="text-align:center">
        <span class="input-label" style="font-size: 16px; width: 100%; max-width: 100%;">{{mensajeLogin.mensaje}}</span>
      </div>
     </div>
    <div class="overlay" ng-show="registrando">
      <div class="overlayContent">
        <ion-spinner icon="circles"></ion-spinner><span style="font-size:22px; ">Registrando..</span>
      </div>
    </div> 
  </ion-content>
</ion-view>