*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:hover{
	cursor:pointer;
}

.imagenMisDesafios{
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    margin-right: 5%;
}

.btn-nuevoDesafio{
  bottom:10%;
  right:10%;
  position: fixed;
  height: 15%;
}

.btn-nuevoDesafio:hover
{
  bottom:10%;
  right:10%;
  position: fixed;
  height: 15%;
}

/*Contenedores de error o correcto.*/
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}

/*Estilo Procesando*/
.overlay  
{
    position: fixed;
    z-index: 98;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #DEDDDD; 
    filter: alpha(opacity=80); 
    opacity: 0.8; 
}
.overlayContent
{
    z-index: 99;
    margin: 50% auto;
    width: 60%;
    padding: 5%; 
    background-color: #FFFFFF;
    border:1px solid #000;
    opacity: 1; 
}

.sombra{
  border: 1px solid rgba(0,0,0.2);
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.botones
{
  background-color:#6A3F20; 
  border: 1px solid #000000;
  color:#FFFFFF;
}

.botones:hover
{
  background-color:#6A3F20; 
  border: 1px solid #000000;
  color:#000000;
}
