<ion-view view-title="Batalla">
  <ion-header-bar>
    <div class="bar bar-header" style="background-color:#2A6A88">
	  <button class="button button-icon icon ion-navicon" style="color:#FFFFFF" ng-click="Menu()"></button>
	  <span style="color:#FFFFFF; left:0; right:0; text-align:center; width:78%; font-size: 26px; margin-top:  5px">Batalla</span>
	</div>
  </ion-header-bar>
  <ion-content style="background-color:#3EA1CF">
  	<div class="padding" >
	    <a ng-click="Elegir(1)" ng-if="imagenes.habilitarBarco1"><img src="{{imagenes.barco1}}" class="buttonJuego"></a>
	    <img src="{{imagenes.barco1}}" class="buttonJuego" ng-if="!imagenes.habilitarBarco1">

	    <a ng-click="Elegir(2)" ng-if="imagenes.habilitarBarco2"><img src="{{imagenes.barco2}}" class="buttonJuego"></a>
	    <img src="{{imagenes.barco2}}" class="buttonJuego" ng-if="!imagenes.habilitarBarco2">
	    
	    <a ng-click="Elegir(3)" ng-if="imagenes.habilitarBarco3"><img src="{{imagenes.barco3}}" class="buttonJuego"></a>
	    <img src="{{imagenes.barco3}}" class="buttonJuego" ng-if="!imagenes.habilitarBarco3">
	    
	    <a ng-click="Elegir(4)" ng-if="imagenes.habilitarBarco4"><img src="{{imagenes.barco4}}" class="buttonJuego"></a>
	    <img src="{{imagenes.barco4}}" class="buttonJuego" ng-if="!imagenes.habilitarBarco4">
	</div>
	<div class="padding" >
	    <div class="padding alert-success sombra">
			<p style="font-size: 16px;">{{accion}}</p>
		</div>
		<div class="overlay" ng-if="mensaje.ver">
			<div class="overlayContent">
				<span class="input-label" style="width:100%">{{mensaje.mensaje}}</span>
			</div>
		<div>
	</div>
  </ion-content>
</ion-view>
