<ion-view view-title="Usuarios">
  <ion-header-bar>
    <div class="bar bar-header" style="background-color:#2A6A88">
	  <button class="button button-icon icon ion-navicon" style="color:#FFFFFF" ng-click="Menu()"></button>
	  <span style="color:#FFFFFF; left:0; right:0; text-align:center; width:78%; font-size: 26px; margin-top: 2%">Usuarios</span>
	  <button class="button button-clear button-positive" style="color:#FFFFFF" ng-click="Salir()">Salir</button>
	</div>
  </ion-header-bar>
  <ion-content style="background-color:#3EA1CF; color:#FFFFFF">
    <ion-list>
      <a class="item" style="background-color:#3EA1CF;" ng-repeat="usuario in usuarios" ng-click="VerUsuario({{usuario}})"> 
        <span style="color:#000000; font-size:16px">{{usuario.nombre}}</span> - <span style="font-size: 12px;color:#FFFFFF">Saldo {{usuario.saldo}}$</span>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
