<ion-view view-title="Login">
  <ion-header-bar style="background-color:#2A6A88" >
    <h3 style="width:100%; text-align:center; color:#FFFFFF">Bienvenido a la Batalla Naval!</h3>
  </ion-header-bar>
  <ion-content style="background-color:#3EA1CF">
    <form>
      <div class="padding">
        <div class="{{mensajeLogin.estilo}}" ng-if="mensajeLogin.ver" style="text-align:center">
          <span class="input-label" style="font-size: 16px; width: 100%; max-width: 100%;">{{mensajeLogin.mensaje}}</span>
        </div>
      </div>
      <div class="sombra" style="width:80%; margin:auto; border: 1px solid #000000; background-color:#826048" ng-if="logueado == 'no'">
        <div class="padding">
          <span class="input-label" style="color:#FFFFFF; font-size:18px">Correo</span>
          <input type="text" style="width: 100%; background-color:#826048; color:#FFFFFF; border-bottom: 1px solid #FFFFFF" ng-model="login.usuario">
          <span class="input-label" style="color:#FFFFFF; font-size:18px">Contraseña</span>
          <input type="password" style="width: 100%; background-color:#826048; color:#FFFFFF; border-bottom: 1px solid #FFFFFF" ng-model="login.clave">
        </div>
        <div class="padding">
          <button class="button button-block botones sombra"  ng-click="Logear()" >Ingresar</button>
          <div class="overlay" ng-show="ingresando">
            <div class="overlayContent">
              <ion-spinner icon="circles"></ion-spinner><span style="font-size:22px; ">Ingresando..</span>
            </div>
          </div>
          <p class="text-center text-muted">
            <small><a ng-click="Resetear()" style="color:#FFFFFF">Olvide mi contraseña</a></small>
          </p>
          
        </div>
      </div>
      <div class="list" ng-if="logueado == 'si'">
        <div class="padding">
          <div  ng-if="verificado == 'no' && !cartelVerificar">
            <p style="font-size: 20px; color:#FFFFFF">Todavía no has verificado tu cuenta, <br><small><a ng-click="VerificarMail()" style="font-size: 25px; color:#000000">haz click aqui</a></small> para recibir el mail.</p>
          </div>
          <div class="alert-success" ng-if="verificado == 'no' && cartelVerificar">
            <p style="font-size: 16px;">Email enviado.</p>
          </div>
        </div>
      </div>
    </form>
  </ion-content>
  <ion-footer-bar style="background-color:#2A6A88" ng-if="logueado == 'no'">
    <p style="width: 100%; text-align:center; font-size:16px">
            No tienes una cuenta? <a ui-sref="registro" style="color:#FFFFFF">Registrate</a></p>
  </ion-footer-bar>
</ion-view>