<ion-view view-title="Menú Principal">
  <ion-header-bar style="background-color:#2A6A88" >
    <h2 style="width:100%; text-align:center; color: #FFFFFF">Menú Principal</h2>
  </ion-header-bar>
  <ion-content style="background-color:#3EA1CF">
    <div class="padding" style="margin: auto">
      <button class="button button-block botones sombra" ng-click="Acceso('nuevaBatalla')" >Nueva Batalla</button>
      <button class="button button-block botones sombra" ng-click="Acceso('salaBatallas')" >Sala Batallas</button>
      <button class="button button-block botones sombra" ng-click="Acceso('misBatallas')" >Mis Batallas</button>
      <button class="button button-block botones sombra" ng-click="Acceso('listaUsuarios')" ng-if="usuario.perfil == 'admin'">Usuarios</button>
      <button class="button button-block botones sombra" ng-click="Acceso('perfil')" >{{usuario.nombre}}</button>
      <button class="button button-block botones sombra" ng-click="Acceso('login')" >Salir</button>
    </div>
  </ion-content>
</ion-view>
