<ion-view view-title="Mis Batallas">
  <ion-header-bar>
    <div class="bar bar-header" style="background-color:#2A6A88">
	  <button class="button button-icon icon ion-navicon" style="color:#FFFFFF" ng-click="Menu()"></button>
	  <span style="color:#FFFFFF; left:0; right:0; text-align:center; width:78%; font-size: 26px; margin-top:  5px">Mis Batallas</span>
	</div>
  </ion-header-bar>
  <ion-content style="background-color:#3EA1CF; color:#FFFFFF">
    <div class="list">
      <div class="item item-input">
        <div class="input-label" style="width:50%">
          Buscar por
        </div>
        <div class="input-select" style="width:50%; text-align:right">
          <select style="margin-top:12px" ng-model="buscar.filtro">
            <option value="Activas">Activas</option>
            <option value="Finalizadas">Finalizadas</option>
            <option value="Tu turno">Tu turno</option>
          </select>
          <button class="button button-icon icon ion-search" ng-click="Busqueda()"></button>
        </div>
      </div>
    </div>
    <ion-list>
      <a class="item" style="background-color:#3EA1CF; color:#FFFFFF" ng-repeat="batalla in ListaBatallas" ng-click="JugarBatalla({{batalla}})">
        <h4 style="width:100%; color:#000000; font-size: 15px">Creada por - {{batalla.usuarioCreador.nombre}}</h4>
        <p style="width:100%; color:#FFFFFF; font-size: 12px">Apuesta - {{batalla.apuesta}} $ - Turno {{batalla.turno.nombre}}</p>
        <p style="width:100%; color:#FFFFFF; font-size: 12px" ng-if="batalla.finalizada">Resultado - {{batalla.resultado}}</p>
      </a>
    </ion-list>
    <div class="overlay" ng-show="buscando">
      <div class="overlayContent">
        <ion-spinner icon="circles"></ion-spinner><span style="font-size:22px; ">Buscando..</span>
      </div>
    </div>
  </ion-content>
</ion-view>