<ion-view view-title="Usuario: {{usuarioBuscado.nombre}}">
  <ion-content style="background-color:#A4A4A4; color:#FFFFFF">
  	<div class="list">
		<label class="item item-input item-stacked-label">
			<span class="input-label" style="color:#000000; font-size:20px">Correo</span>
			<p style="color:#FFFFFF; font-size:16px">{{usuarioBuscado.correo}}</p>
		</label>
		<div class="padding">
			<div class="button-bar">
				<button class="button button-balanced sombra" style="margin-right:2%" ng-click="Borrar()" ng-if="(!usuarioBuscado.borrado)">Borrar</button>
				<button class="button button-assertive sombra" style="margin-left:2%" ng-click="Volver()">Volver</button>
			</div>
		</div>
		<div class="padding" ng-if="mensaje.ver">
			<span class="input-label" style="width:100%">{{mensaje.mensaje}}</span>
		</div>
	</div>
  </ion-content>
</ion-view>
